.containerBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 223px;
    margin-bottom: 2%;
}

.containerBanner img {
    width: 90%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
}

.containerBanner h1 {
    margin: 0;
    color: $white;
    font-size: 48px;
    font-weight: normal;
    transform: translateY(-130px);
}


/* Responsive */
@media (max-width: 799px) {
    .home {
        height: 180px;
    }

    .home img {
        height: 180px;
        border-radius: 20px;
    }

    .home h1 {
        font-size: $largeFont;
        transform: translateY(-110px);
    }
}

@media (max-width: 599px) {
    .home {
        height: 111px;
    }

    .home img {
        height: 111px;
        border-radius: 15px;
    }

    .home h1 {
        font-size: $mediumFont;
        transform: translateY(-70px);
    }
}

@media (max-width: 425px) {
    .home h1 {
        width: 223px;
        transform: translate(-40px, -85px);
    }
}