.containerCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $grey;
    margin: 2% 5%;
    border-radius: 25px;
    padding: 2% 0;
}

.logementCard {
    display: flex;
    justify-content: center;
    width: 33.33333333%;
    margin: 2% 0;
}

.logementCard a {
    cursor: pointer;
}

.card {
    width: 340px;
    height: 340px;
    background: linear-gradient($red 50%, #803131);
    border-radius: 15px; 
}

.card h2 {
    position: absolute;
    transform: translateY(290px);;
    max-width: 300px;
    color: $white;
    margin: 0;
    font-weight: normal;
    font-size: $smallFont;
    margin-left: 20px;
}


/* Responsive */
@media (max-width: 1239px) {
    .card {
        width: 300px;
        height: 300px;
    }

    .card h2 {
        transform: translateY(250px);
        max-width: 250px;
    }
}

@media (max-width: 1099px) {
    .logementCard {
        width: 50%;
    }

    .logementCard a {
        width: 90%;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .containerCard {
        background-color: $white;
    }

    .logementCard {
        width: 100%;
    }

    .logementCard a {
        width: 100%;
    }

    .card {
        height: 255px;
    }

    .card h2 {
        transform: translateY(200px);
    }
}