.containerCollapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15% 20px 15%;
    width: 70%;
}

.titleCollapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $red;
    width: 96%;
    padding: 10px 2%;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

.flecheBas {
    transform: rotate(0deg);
    transition: 0.7s;
}

.flecheHaut {
    transform: rotate(-180deg);
    transition: 0.7s;
}

.titleCollapse h3 {
    font-weight: normal;
    margin: 0;
}

.contentCollapse {
    width: 96%;
    background-color: $grey;
    padding: 0 2%;
    color: $red;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    line-height: 150%;
}

.contentCollapse p {
    margin: 2em 0 1em 0;
}

.hidden {
    transition: height ease 0.7s;
}

.visible {
    transition: height ease 0.7s;
}


/* Responsive */
@media (max-width: 768px) {

    .containerCollapse {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-size: 12px;
    }

    .titleCollapse {
        font-size: 13px;
    }

    .flecheBas {
        width: 16px;
    }
}